@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
		background-color: #EAEAEA;
		margin: 0;
		padding: 0;
}

header {
	width: 100%;
	min-height: 100px;
	background-color: rgba(47, 44, 44, .95);
}

a {
	text-decoration: none;
}

.link {
	padding: 40.188px;
	display: inline-block;
  color: #f7f7f7;
  font-weight: bold;
  cursor: pointer;
}

.link:hover {
	background-color: rgba(47, 44, 44, 0.8)
}

#profile {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}

#nameProfile {
	display: inline-block;
	padding-top: 30.016px;
	color: #f7f7f7;
}

#profile img {
	display: inline-block;
	width: 70px;
	height: 70px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}

#globalBlock {
	width: 90%;
	text-align: center;
	margin-left: 5%;
}

#search {
	background-color: #F7F7F7;
	width: 70%;
	margin-left: 15%;
	min-height: 70px;
	border: 1px solid silver;
}

#searchLine {
	display: inline-block;
	width: 60%;
	margin-top: 2%;
	margin-left: 5%;
	padding: 0.7%;
	outline:none;
	color: rgb(100, 98, 98);
	font-size: 16px;
	font-family: "Times new romans";
}

#searchButton {
	padding: 0.7%;
	margin: 2%;
	display: inline-block;
	background-color: rgba(173, 173, 173, 0.66);
	border: 1px solid #A8A8A8;	
	color: #f7f7f7;
	font-size: 16px;
	border-radius: 10px;
	outline:none;	
	cursor: pointer;
}

#searchButton:hover {
	background-color: rgb(173, 173, 173);
}

.friendsList {
	background-color: #f7f7f7;
	width: 180px;
	height: 240px;
	text-align: center;
	border-radius: 20px;
	border: 1px solid silver;
	margin: 3%; 
	display: inline-block;
}

.avatarFriend {
	width: 170px;
	height: 170px;
	margin: 5px;
}

.avatarFriend img {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}

.nameFriend {
	
}